@font-face {
    font-family: 'PSL Sirintr Pro';
    src: url('../fonts/PSLSirintrProBold.woff2') format('woff2'),
        url('../fonts/PSLSirintrProBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PSL Sirintr Pro';
    src: url('../fonts/PSLSirintrProItalic.woff2') format('woff2'),
        url('../fonts/PSLSirintrProItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PSL Sirintr Pro';
    src: url('../fonts/PSLSirintrPro.woff2') format('woff2'),
        url('../fonts/PSLSirintrPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PSL Sirintr Pro';
    src: url('../fonts/PSLSirintrProBoldItalic.woff2') format('woff2'),
        url('../fonts/PSLSirintrProBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}